.contact {
    display: block;
    background: url('../../builds/development/images/contact-form_photo.png') no-repeat fixed;
    background-position: left;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

.contact-photo {
    position: absolute;
    bottom: -90%;
    margin-bottom: 60px;
    text-align: center;
}