footer {
    text-align: center;
    padding-bottom: 80px;
    
    h4 {
        position: relative;
        text-align: inherit;
        margin-bottom: 30px;
    }
    
    h4::after {
        content: "";
        position: absolute;
        background-color: $primary;
        text-align: inherit;
        width: 40px;
        height: 3px;
        bottom: 3px;
        left: 50%;
        margin-left: -20px;
    }
}

.footer-note {
    font-family: $decorationFont;
    text-align: center;
    margin-top: 60px;
}