.portfolio {
    background-color: $light;
    
    &__content {
        @extend .push-md-1;
        @extend .col-xl-8; 
        @extend .col-md-10;
        @extend .push-sm-0;
        @extend .col-sm-12;
    }
    
    &__work {
        position: relative;
        margin-bottom: 60px; 
        
        @media (max-width: 500px) {
            margin-bottom: 30px;
        }
        
        &--left {
        @extend .offset-xl-1;
        @extend .col-xl-5;
        @extend .offset-md-1;    
        @extend .col-md-10;
        }
        
        &--right {
        @extend .offset-xl-0;
        @extend .col-xl-5;
        @extend .offset-md-1;
        @extend .col-md-10;
        }               
        
        &:hover .overlay {
            opacity: 0.9;
        }
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: auto;
        margin: 0 15px 0 15px;
      opacity: 0;
      transition: .5s ease;
      background-color: $secondary;
    }
    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    
    &__image {
        width: 100%;
    }
}